.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: grey;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.display-linebreak {
  white-space: pre-line;
}

.body {
	display: flex;
	min-height: 100vh;		
	flex-direction: column;
}

.Purple-text {
	color: purple;
}

.Green-text {
	color: green;
}

main {
	flex: 1 0 auto;
	flex-grow: 1;
}

footer {
	flex-shrink: 0;
}

.icon {
	border-radius: 50%;
	max-width: 50%;
}

.Large-name {
	font-size: calc(4em + 4vw);
	font-weight: bold;
	/*font-style: oblique;*/
}

.Medium-name {
	font-size: calc(2em + 2vw);
	font-weight: lighter;/
	font-stretch: condensed;
}

.curvyborder {
	border: 2px solid ;
/*	background: purple; */
/*	background: rgba(,,,.3); */
	border-radius: 80px 20px;
	padding: 2em
}

html body {
	background-color: grey;
	width: 100%;
	height: 100%;
}

.blurb {
	font-size: calc(1em + 1vw);
}

p {
	font-size: calc(1em + 1vw);
}

.resumeCol {
	height: 100%;
}

img {
	height: 100%;
}
